<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>My Astro Site / About</title>
	</head>
	<body>
		<h1>My About Page</h1>
		<p>I'm a person.</p>
    <p>I have a 50 year long timeline.</p>
    <p>I seem to be traveling westward, overall.</p>
	</body>
</html>